# 2019년 5월 23일 (목) 수업 내용

In [1]:
d = {'이름':'김현호', '나이': 50, '주소':'인천'}
d

{'이름': '김현호', '나이': 50, '주소': '인천'}

In [2]:
d['이름']

'김현호'

In [4]:
d['전화번호'] = '01027376532'
d

{'이름': '김현호', '나이': 50, '주소': '인천', '전화번호': '01027376532'}

In [5]:
d.keys()

dict_keys(['이름', '나이', '주소', '전화번호'])

In [6]:
d.values()

dict_values(['김현호', 50, '인천', '01027376532'])

In [7]:
d.items()

dict_items([('이름', '김현호'), ('나이', 50), ('주소', '인천'), ('전화번호', '01027376532')])

In [8]:
l = [1,2,3]
for i in l:
    print(i)

1
2
3

In [9]:
d

{'이름': '김현호', '나이': 50, '주소': '인천', '전화번호': '01027376532'}

In [10]:
for i in d.keys():
    print(i)

이름
나이
주소
전화번호

In [11]:
for i in d.keys():
    print(d[i])

김현호
50
인천
01027376532

In [12]:
for i in d.values():
    print(i)

김현호
50
인천
01027376532

In [13]:
for i in d:
    print(i)

이름
나이
주소
전화번호

In [15]:
# 가장 많이 쓰는 방법이다!
for i in d:
    print(d[i])

김현호
50
인천
01027376532

In [20]:
for i in d:
    #print(i, '=', d[i])
    print(i + ' = ' + str(d[i]))

이름 = 김현호
나이 = 50
주소 = 인천
전화번호 = 01027376532

In [21]:
for i in d.items():
    print(i)

('이름', '김현호')
('나이', 50)
('주소', '인천')
('전화번호', '01027376532')

In [22]:
for i in d.items():
    print(i[1], i[0]) # i 가 튜플이다

김현호 이름
50 나이
인천 주소
01027376532 전화번호

In [23]:
d.keys()

dict_keys(['이름', '나이', '주소', '전화번호'])

In [24]:
list(d.keys())

['이름', '나이', '주소', '전화번호']

In [25]:
d

{'이름': '김현호', '나이': 50, '주소': '인천', '전화번호': '01027376532'}

In [26]:
d['나이']

50

In [27]:
d.get('나이')

50

In [32]:
d.get('취미',-1) # 없는 경우의 디폴트 값을 지정할 수 있다

-1

In [34]:
l = [1,2,3]
0 in l

False

In [37]:
s = 'kdfljksdjlfjkfdskl'
'jlfjk' in s

True

In [38]:
d

{'이름': '김현호', '나이': 50, '주소': '인천', '전화번호': '01027376532'}

In [40]:
'나이' in d

True

In [42]:
n = -1
if n>0:
    print('양수')
else :
    print('음수')

음수

In [43]:
if '나이' in d:
    print(d['나이'])
else:
    print('나이란 항목은 없습니다')

50

In [44]:
d

{'이름': '김현호', '나이': 50, '주소': '인천', '전화번호': '01027376532'}

In [45]:
d['나이'] = 49

In [46]:
d

{'이름': '김현호', '나이': 49, '주소': '인천', '전화번호': '01027376532'}

In [47]:
# 숫자를 모두 더하라
d2 = {'a': 11, 'b': 22, 'c':33, 'd': 44}

total = 0
for i in d2:
    total = total + d2[i]
    
print(total)

110

In [49]:
sum(list(d2.values()))

110

### 집합
- 집합의 개념
- 집합은 set
- 합집합(|), 교집합(&), 차집합(-)

In [52]:
s = {1, 2, 3, 4, 5}
s

{1, 2, 3, 4, 5}

In [53]:
type(s)

set

In [54]:
len(s)

5

In [55]:
s = {1, 2, 3, 4, 5, 5, 5, 5, 5}
s

{1, 2, 3, 4, 5}

In [56]:
{1,2,3} | {3,4,5} # 합집합

{1, 2, 3, 4, 5}

In [57]:
{1,2,3} & {3,4,5}

{3}

In [58]:
{1,2,3} - {3,4,5}

{1, 2}

In [59]:
{3,4,5} - {1,2,3}

{4, 5}

In [60]:
l = [1,2,3,4,5]
l = l + [7,8,5,3]
l

[1, 2, 3, 4, 5, 7, 8, 5, 3]

In [61]:
set(l)

{1, 2, 3, 4, 5, 7, 8}

In [62]:
list(set(l))

[1, 2, 3, 4, 5, 7, 8]

In [64]:
a = {1,2,3,4}
b = {3,4,5,6}

#(a-b) |  (b-a)
(a|b) - (a&b)

{1, 2, 5, 6}

In [65]:
s = {1,2,3,5,6,8,9}

r = {1,2,3,4,5,6,7,8,9}
r - s

{4, 7}

### 참거짓

In [66]:
True + True

2

In [67]:
False * True

0

In [68]:
if []:
    print('항목있음')
else:
    print('항목없음')

항목없음

In [ ]:
if 0:
    print('참')

### 변수의 참조 이슈

In [69]:
a = [1,2,3]
a2 = a

a2[0] = 999
a

[999, 2, 3]

In [71]:
a = [1,2,3]
a2 = a.copy()
a2[0] = 999
a

[1, 2, 3]

In [72]:
a = [0,0,0]
b = [a, a, a]
b

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [73]:
b[0][0] = 1
b

[[1, 0, 0], [1, 0, 0], [1, 0, 0]]

In [74]:
a = [0,0,0]
b = [a.copy(), a.copy(), a.copy()]
b[0][0] = 1
b

[[1, 0, 0], [0, 0, 0], [0, 0, 0]]

In [76]:
l = [1,2,3]
l2 = l[:]
l2[0] = 999
l

[1, 2, 3]

In [77]:
l = [1,2,3]
l2 = l[1:] # [2,3]
l2[0] = 999
l

[1, 2, 3]

### 조건식

In [79]:
n = 1.00000001

if (n>1) or (n<-1):
    print('good')
else:
    print('bad')

good

In [80]:
n = 9

if (n>5) and (n<10):
    print('good')
else:
    print('bad')

good

In [81]:
n = 9

if n in [6,7,8,9]:
    print('good')
else:
    print('bad')

good

In [82]:
n = 9
if not n==0: # if n!=0:
    print('good')
else:
    print('bad')

good

In [83]:
n = 9

if n<0:
    print('음수')
else:
    if n==0:
        print('영')
    else:
        print('양수')

양수

In [84]:
n = 9

if n<0:
    print('음수')
elif n==0:
    print('영')
else:
    print('양수')

양수

In [85]:
n = 9
m = 0

if n<0:
    print('음수')
    m = -1
elif n==0:
    print('영')
    m = 0
else:
    print('양수')
    m = 1
    
print(m)

양수
1

In [87]:
n = 9
m = -1 if n<0 else 1
print(m)

1

### while

In [88]:
n = 0

while n<5:
    print(n)
    print(n*n)
    n = n + 1

0
0
1
1
2
4
3
9
4
16

In [90]:
for n in [0,1,2,3,4]:
    print(n)
    print(n*n)

0
0
1
1
2
4
3
9
4
16

In [91]:
n = 0
running = True

while running:
    n = n + 1
    if n*n > 56789:
        running = False

print(n)

239

In [94]:
n = 0

while True:
    n = n + 1
    if n*n > 56789:
        break

print(n)

239

### for

In [95]:
for i in 'abc':
    print(i)

a
b
c

In [97]:
for i in (0,1,2,3,4):
    print(i)

0
1
2
3
4

In [98]:
a, b = 1, 2
print(a, b)

1 2

In [99]:
a, (b,c) = [1, [2,3]]

In [100]:
a, b, c

(1, 2, 3)

In [102]:
a = [[1,2], [3,4], [5,6]]

for i,j in a:
    print(i, j)

1 2
3 4
5 6

In [103]:
a = [[1,2], [3,4], [5,6]]

for i in a:
    first = i[0]
    second = i[1]
    print(first, second)

1 2
3 4
5 6

In [108]:
a = [0,1,2,3,4,5,6,7,8,9]

for i in a:
    if i%3 != 0:
        print(i)

1
2
4
5
7
8

In [109]:
for 단수 in [1,2,3,4,5,6,7,8,9]:
    for 곱수 in [1,2,3,4,5,6,7,8,9]:
        print(단수, 곱수, 단수*곱수)

1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [110]:
for i in range(10): # [0,1,2,3,4,5,6,7,8,9]
    print(i)

0
1
2
3
4
5
6
7
8
9

In [111]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [112]:
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [114]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [115]:
range(10)

range(0, 10)

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
for i in range(22):
    print(2*i + 1)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43

In [119]:
for i in range(1,10):
    for j in range(1,10):
        print(i,j,i*j)

1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [121]:
print('abc', end='#####')
print('')
print('bye~')

abc#####
bye~

In [122]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [123]:
print(1,2,3, sep='#')

1#2#3